<!--The content below is only a placeholder and can be replaced.-->

<h1>
  {{title}}
</h1>
<nav>
  <ul>
    <li><a href='' [routerLink]="['/dashboard']">Dashboard</a></li>
    <li><a href='' [routerLink]="['/customer']">Customer</a></li>
    <li><a href='' [routerLink]="['/admin']">Admin --> Users</a></li>
    <li><a href='' [routerLink]="['/admin/blast']">Admin --> Blast</a></li>
  </ul>
</nav>

<button mat-button>
    ok
<!-- <md-icon>done</md-icon> -->
  <mat-icon>done</mat-icon>
</button>
<router-outlet></router-outlet>
